:root {
  font-family: 'Menlo', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 6rem 2rem 0;
  text-align: center;
}

#face {
  font-size: 12rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#face .eye {
  transition: transform 0.3s ease-in-out;
  width: 7rem;
}

#face.emotion-confused .eye {
  transition: margin 0.3s ease-in-out;
  margin: -1rem 0 0;
}

#face.emotion-confused .eye.moved {
  transition: margin 0.3s ease-in-out;
  margin: -6rem 0 0;
}

#face .mouth.left-mouth {
  margin: 0 -1rem 0 1rem;
}

#face.emotion-listening .mouth.left-mouth {
  margin: 0 0 -2rem 0;
}

#face.emotion-listening .mouth.left-mouth {
  margin: 0 0 -2rem 0;
}

#face.emotion-sad .mouth {
  margin: 0 -1rem -12rem 1rem;
}

#face.emotion-sad .eye {
  position: relative;
}

#face.emotion-sad .eye::after {
  content: '';
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem;
  height: 3.5rem;
  background-color: #000;
  animation: tearBreak 2s ease-in infinite;
  z-index: 1;
}

#face.emotion-sad .left-eye::after {
  animation-delay: 0.5s;
}

#face.emotion-sad .right-eye::after {
  animation-delay: 1.2s;
}

@keyframes tearBreak {
  0% {
    top: 10.2rem;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

#face.emotion-happy .mouth {
  margin: 0;
}

#face.emotion-happy .mouth.right-mouth {
  position: relative;
  margin: 0 0 0 -1rem;
}

#face.emotion-happy .mouth.left-mouth {
  position: relative;
  transform: scaleY(50%);
  margin: 4rem 1rem -2rem 0;
}

#face.emotion-happy .eye.happy {
  margin-top: -2rem;
}

#face.emotion-listening .mouth.left-mouth {
  animation: scaleMouth 10s ease-in-out infinite;
}

#face .mouth.right-mouth {
  font-size: 80%;
  margin: 0 1rem 0 -1rem;
}

#face.emotion-confused .eye.rolling {
  animation: confusedLook 1.5s ease-in-out;
}

#face.emotion-idle .eye.rolling {
  animation: rotateEyes 2s ease-in-out;
}

@keyframes confusedLook {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-1.5rem, -4rem);
  }
  70% {
    transform: translate(1.5rem, -3.5rem);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes confusedLook {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(-1.5rem, -4rem);
  }
  70% {
    transform: translate(1.5rem, -3.5rem);
  }
  90% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotateEyes {
  0% {
    transform: rotate(0deg);
  }
  20%, 80% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scaleMouth {
  0% {
    transform: scaleY(1) translateY(0);
  }
  40% {
    transform: scaleY(1) translateY(0);
  }
  50% {
    transform: scaleY(0.25) translateY(2.5rem);
  }
  70% {
    transform: scaleY(0.25) translateY(2rem);
  }
  80% {
    transform: scaleY(1) translateY(0);
  }
}

#face.emotion-sleeping .mouth.right-mouth {
  position: relative;
}

#face.emotion-sleeping .mouth.right-mouth::after {
  content: '';
  position: absolute;
  top: 65%;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  border: 5px solid #fff;
  border-radius: 50%;
  transform-origin: top left;
  animation: snotBubble 5s ease-in-out infinite;
}

@keyframes snotBubble {
  0%, 100% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.75);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
